@media screen and (min-width: 1080px) {
.bg-container{
  .main-container{
      .title-sp{
        display: none;
      }
      .title-pc{
        height: 100%;
        margin-top: 0;
        display: block;
        .title__01{
          position: static;
          transform: none;
          width: 100%;
          height: auto;
        }
      }
      .collaboration{
        .movie-inner{
          width: 60%;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 9;
          
          .yutube-frame{
            position: relative;
            .btn{
              position: absolute;
              top: -40px;
              right: 10px;
              width: 30px;
            }
          }
          iframe{
            height: 500px;
          }
        }
          .pc_remove{
            display: none;
          }
          &__movie{
            display: flex;
            flex-wrap: wrap;
            .movie-item{
              width: 50%;
              list-style: none;
            }
          }
        
      }
    }
  }
}