
$layer: (
  modal :100,
  header: 20,
);
@mixin z-index($key){
  z-index: map-get($layer, $key);
}

@mixin widthPersent ($parcentWidth, $pxWidth) {
  width: floor((($pxWidth / $parcentWidth) * 10000%)) / 100;
  }

@mixin PATop0Left0 {
  position: absolute;
  top:0;
  left: 0;
}

@mixin PACenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin MarginTop {
  margin-top: 10px;
}

@mixin LineHeight {
  line-height: 1.5;
}

@mixin TopMainFontBg {
  width: 60px;
  height: auto;
  position: absolute;
  z-index: -3;
  transition: 0.6s;
  opacity: 0;
}

@mixin StaffSectionMarginTop1 {
  margin-top: 50px;
}

@mixin StaffSectionMarginTop2 {
  margin-top: 20px;
}

@mixin BoxShadow {
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
}
