.bg-container{
  background-image: url(../image/bg_img_sp.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  position: relative;
  overflow: scroll;
.to-top-btn{
  width: 100%;
  height: 70px;
  position: absolute;
  top: 80%;
  z-index: 2;
  position: fixed;
  opacity: 0;
  transition: 0.7s;
  .btn-wrapper{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    position: relative;
    background: url("../image/to_top_btn.png");
    background-size: cover;
    .btn-arrow{
      width: 120px;
      height: 120px;
      @include PATop0Left0;
      &-1{
        width: 11px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 25%;
        left: 45%;
        transform: rotate(-45deg);
      }
      &-2{
        width: 18px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 29%;
        left: 49%;
        transform: rotate(55deg);
      }
    }
    .txt{
      color: white;
      width: 120px;
      height: 120px;
      @include PATop0Left0;
      .t{
        position: absolute;
        top: 32%;
        left: 35%;
      }
      .o{
        position: absolute;
        top: 44%;
        left: 47%;
        }
      .p{
        position: absolute;
        top: 55%;
        left: 63%;
      }
    }
  }

}
.main-container{
  width: 100vw;
  position: relative;
  overflow: hidden;
  #loading{
    @include PATop0Left0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 99999999;
    #loading-wrapper{
      @include PACenter;
      width: 100%;
      &__title{
        width: 100%;
        height: auto;
      }
      &__gif{
        width: 100%;
        height: auto;
      }
    }
  }
  .news-modal1{
    display: none;
  }
  .news-modal2{
    display: none;
  }
  .news-modal3{
    display: none;
  }
  .news-modal{
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.8);
    position: relative;
    z-index: 10000;
      .news-modal__inner{
        width: 90%;
        height: 90%;
        background-color: rgb(255,255,255);
        box-shadow: 0px 1px 10px #ccc;
        border-radius: 15px;
        z-index: 3;
        @include PACenter;
        .news-modal__btn{
          text-align: center;
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
          position: absolute;
          bottom: 0;
          cursor: pointer;
          &__img{
          width: 50px;
          height: 50px;
          }
        }
        .news-modal__overflow-wrapper{
          overflow: scroll;
          height: 80%;
          width: 100%;
          .news-modal-wrapper{
            width: 80%;
            margin: 0 auto;
            &__title{
              width: 100%;
              text-align: center;
              @include MarginTop;
            }
            &__title-sub{
              @include MarginTop;
              
            }
            &__img{
              width: 100%;
              @include MarginTop;
              box-shadow: 0px 5px 5px #ccc;
            }
            &__txt{
              line-height: 1.5;
              @include MarginTop;
              &_border{
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
                opacity: 0.8;
              }
              &_margin_top{
                margin-top: 20px;
                padding: 10px 0;
              }
              .gray-point{
                color: gray;
                font-size: 6px;
                margin-right: 5px;
              }
            }
            .movie-place{
              @include MarginTop;
              &__title{
                @include LineHeight;
              }
              &__name{
                @include LineHeight;
              }
            }
            &__caution{
              @include LineHeight;
              margin-top: 50px;
            }
            &__date{
              margin-top: 20px;
            }
          }
      }
    }
}
  .top-bg-wrapper{
    overflow: hidden;
    .top-bgImage{
      background: url(../image/top_main_bg1.png);
      background-position: center;
      width: 100%;
      height: 100vh;
    }
  }
  .nav{
    .nav__img{
      @include PATop0Left0;
      z-index: 999;
      position: fixed;
    }
    .nav-btn{
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: transparent;
      z-index: 999;
      position: fixed;
      &__item{
        width: 25px;
        height: 2px;
        background-color: white;
        display: block;
        transition: .3s;
        &_width{
          width: 35px;
        }
        &_margin_bottom{
          margin-bottom: 6px;
        }
      }
      &__txt{
        font-size: 10px;
        color: white;
        font-weight: lighter;
        letter-spacing: 1px;
      }
      .nav__open:nth-child(1){
        transform: translateY(6px) rotate(45deg);
        width: 30px;
      }
      .nav__open:nth-child(2){
        opacity: 0;
      }
      .nav__open:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        width: 30px;
      }
    }
    .nav-inner{
      &__bg{
        background: url("../image/nav_bg_img.png");
        background-size: cover;
        background-position: center;
        width: 1800px;
        height: 1800px;
        position: absolute;
        top: -900px;
        left: -900px;
        border-radius: 50%;
        background-color: white;
        z-index: 3;
        transform: scale(0);
        transition: .8s;
        position: fixed;
        &_active{
          transform: scale(1)
        }
      }
      &__list{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 6;
        text-align: center;
        display: none;
        &_active{
          opacity: 1;
          position: fixed;
        }
        .title__logo{
          width: 213px;
          height: auto;
          &_margin_top{
            margin-top: 70px;
          }
        }
        .title__logo-pc{
          display: none;
        }
        .nav-inner__item{
          font-family: 'Noto Serif JP', serif;
          font-size: 19px;
          &_margin_top{
            margin-top: 50px;
          }
          .item__txt{
            color: black;
          }
        }
      }
    }
  }
  .main{
    text-align: center;
    transition: 0.5s;
    padding-bottom: 200px;
    .title__logo{
      width: 57%;
      height: auto;
      &_margin_top{
        margin-top: 70px;
      }
    }
    .title__logo-pc{
      display: none;

    }
    .bg-txt{
      width: 100%;
      position: relative;
      &__img-2{
        display: none;
      }
      &_margin_top{
        margin-top: 50px;
      }
      &__font1{
        top: 18%;
        left: 32%;
        position: absolute;
        width: 27px;
        height: auto;
        z-index: 4;
      }
      &__font2{
        top: 17%;
        left: 43%;
        position: absolute;
        width: 27px;
        height: auto;
      }
      &__font3{
        top: 55%;
        left: 31%;
        position: absolute;
        width: 27px;
        height: auto;
      }
      &__font4{
        top: 55%;
        left: 66%;
        position: absolute;
        width: 27px;
        height: auto;
      }
      &__font5{
        top: 60%;
        left: 51%;
        position: absolute;
        width: 27px;
        height: auto;
      }
      &__font6{
        top: 97%;
        left: 29%;
        position: absolute;
        width: 50px;
        height: auto;
    
      }
      &__font1-bg{
        @include TopMainFontBg;
        top: 17%;
        left: 30%;
      }
      &__font2-bg{
        @include TopMainFontBg;
        top: 16%;
        left: 40%;
      }
      &__font3-bg{
        @include TopMainFontBg;
        top: 53%;
        left: 29%;
      }
      &__font4-bg{
        @include TopMainFontBg;
        top: 53%;
        left: 62%;
      }
      &__font5-bg{
        @include TopMainFontBg;
        top: 58%;
        left: 48%;
      }
      &__font6-bg{
        @include TopMainFontBg;
        top: 96%;
        left: 26%;
      }
    }
  }
  .movie{
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    padding-bottom: 200px;
    .movie-yutube-wrapper{
      background-color: white;
      width: 100vw;
      height: 100vh;
      display: none;
      @include PATop0Left0;
      z-index: 2;
      opacity: 0.8;
      transition: 1s;
    }
    .movie_active{
      display: block;
      position: fixed;
    }
    .yutube-inner{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      z-index: 3;
      width: 100vw;
        .yutube-frame{
          position: relative;
          .btn{
            position: absolute;
            top: -40px;
            right: 10px;
            width: 30px;
          }
        }
      }
      .movie_active{
        display: block;
        position: fixed;
      }
    .title{
      position: relative;
      width: 100%;
      height: 100px;
      z-index: 1;
      // &_margin_top{
      //   margin-top: 200px;
      // }
      &__01{
        width: 90%;
        @include PACenter;
      }
      &__02{
        width: 40%;
        @include PACenter;
        z-index: 1;
      }
    }
    .movie-wrapper{
      width: 90%;
      background-color: white;
      position: relative;
      margin: 0 auto;
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
      padding: 10px;
      &_margin_top{
        margin-top: 30px;
      }
      .movie-item-cover{
        position: relative;
        width: 100%;
        height: 100%;
        .movie-cover{
          @include PATop0Left0;
          width: 100%;
          height: 100%;
          z-index: 1;
          animation: movie-cover 1s both;
          display: none;
        }
      
      @keyframes movie-cover{
        0%{
        }
        100%{
          background-color: red;
          opacity: 0.2;
        }
      }
      .movie__bg{
        width: 100%;
        height: auto;
      }
    }
      .movie__play{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.4);
        transition: 1s;
      }
      .movie__play.movie__play-hover{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.5);
      }
    }
    .movie__txt{
      font-family: 'Noto Serif JP', serif;
      font-size:20px;
      letter-spacing: 0.5px;
      &_margin_top{
        margin-top: 20px;
      }
    }
    .btn-collabolation-link{
      width: 100%;
      height: auto;
      &_margin_top{
        margin-top: 30px;
      }
    }
  }
  .thema{
    text-align: center;
    transition: 0.5s;
    padding-bottom: 200px;
    &__txt_pc{
      display:none;
    }
    &__title{
      position: relative;
      width: 100%;
      height: 100px;
      z-index: 1;
      .title__01{
        @include PACenter;
      }
      .title__02{
        @include PACenter;
        z-index: 1;
      }
    }
    &__img{
      width: 90%;
      height: auto;
      &_margin_top{
        margin-top: 30px;
      }
    }
    &__txt{
      width: 90%;
      &_margin_top{
        margin-top: 30px;
      }
    }
  }
  .character{
    text-align: center;
    transition: 0.5s;
    &__title{
      position: relative;
      width: 100%;
      height: 100px;
      .title__01{
        @include PACenter;
      }
      .title__02{
        @include PACenter;
        z-index: 1;
      }
    }
    &-list{
      &__item{
        display: flex;
        &_margin_top{
          margin-top: 30px;
        }
        .item-left{
          width: 50%;
          &__img{
            width: 80%;
          }
        }
        .item-right{
          width: 40%;
          text-align: left;
          &__name{
            font-weight: bold;
            font-size: 16px;
            position: relative;
            &:after{
              content: "";
              background: url("../image/txt_line04.png");
              @include PATop0Left0;
              width: 100%;
              height: 20px;
              background-size: contain;
              opacity: 0.5;
            }
            &_margin_top{
              margin-top: 20px;
            }
          }
          .item-name2:after{
            content: "";
              background: url("../image/txt_line01.png");
              @include PATop0Left0;
              width: 100%;
              height: 20px;
              background-size: contain;
              opacity: 0.5;
          }
          .item-name3:after{
            content: "";
              background: url("../image/txt_line01.png");
              @include PATop0Left0;
              width: 50%;
              height: 20px;
              background-size: contain;
              opacity: 0.5;
          }
          .item-name4:after{
            content: "";
              background: url("../image/txt_line04.png");
              @include PATop0Left0;
              width: 70%;
              height: 20px;
              background-size: contain;
              opacity: 0.5;
          }
          &__description{
            line-height: 1.7;
            font-size: 14px;
            
            &_margin_top{
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  .interview{
    transition: 0.5s;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    &__title{
      position: relative;
      width: 100%;
      height: 100px;
      &_margin_top{
        margin-top: 200px;
      }
      .title__01{
        @include PACenter;
      }
      .title__02{
        @include PACenter;
        z-index: 1;
      }
    }
    &__section{
      position: relative;
      .interview-wrapper{
        width: 90%;
        background-color: white;
        position: relative;
        margin: 0 auto;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
        &_margin_top{
          margin-top: 30px;
        }
        .interview__bg{
          width: 100%;
        }
      }
      .interview__name{
        font-weight: bold;
        &_margin_top{
          margin-top: 30px;
        }
      }
      .interview__txt{
        line-height: 1.7;
        font-size: 14px;
        
        text-align: left;
        &_margin_top{
          margin-top: 30px;
        }
      }
      .interview__link{
        font-weight: bold;
        font-size: 14px;
        text-align: right;
        color: black;
        &_margin_top{
          margin-top: 30px;
        }
      }
      .interview__bg-point{
        width: 120px;
        height: 120px;
        background: url("../image/interview_bg_point01.png");
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
        display: flex;
        align-items: center;
        opacity: 0;
        transition: 0.7s;
        .bg-point__txt{
          margin: 0 auto;
        }
      }
    }
    &__more{
      width: 90%;
      height: 70px;
      margin: 0 auto;
      border-radius: 50px;
      box-shadow: 0px 5px 10px #ccc;;
      opacity: 0.7;
      transition: 0.5s;
      &:hover{
        opacity:0.9;
        box-shadow: 0px 5px 10px #777777;
        background-color: white;
      }
      &_margin_top{
        margin-top: 50px;
      }
      &-txt{
        text-align: center;
        line-height: 70px;
        color: black;
      }
    }
  }
  .staff{
    transition: 0.5s;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    &__title{
      position: relative;
      width: 100%;
      height: 100px;
      &_margin_top{
        margin-top: 200px;
      }
      .title__01{
        @include PACenter;
      }
      .title__02{
        @include PACenter;
        z-index: 1;
      }
    }
    &__txt{
      display: flex;
      align-items: center;
      width: 100%;
      &_margin_top{
        margin-top: 40px;
      }
      .staff__cast-top{
        margin-right: 20px;
        text-align: right;
        width: 40%;
      }
      .staff__cast-name-large{
        font-size: 23px;
        width: 60%;
        text-align: left;
      }
      .staff__cast-under{
        text-align: right;
        width: 50%;
        margin-right: 10px;
      }
      .staff__cast-name-under{
        width: 50%;
        text-align: left;
      }
    }
    .staff__more{
      width: 90%;
      height: 70px;
      margin: 0 auto;
      border-radius: 50px;
      box-shadow: 0px 5px 10px #ccc;;
      opacity: 0.7;
      transition: 0.5s;
      &:hover{
        opacity:0.9;
        box-shadow: 0px 5px 10px #777777;
        background-color: white;
      }
      &_margin_top{
        margin-top: 50px;
      }
      &-txt{
        text-align: center;
        line-height: 70px;
        color: black;
      }
    }
  }
  .news{
    margin-top: 100px;
    width: 90%;
    margin: 100px auto 0;
    &__title{
      
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 20px;
      letter-spacing: 5px;
    }
    &-wrapper{
      overflow: scroll;
      max-height: 376px;
        .news-list{
          &__item:first-child{
            border-top: 1px solid gray;
          }
          &__item{
            border-bottom: 1px solid gray;
            .item__title{
              font-weight: bold;
              line-height: 1.7;
              color: black;
            }
            .item__txt{
              font-size: 12px;
              opacity: 0.8;
              line-height: 1.7;
              color: black;
            }
            .item__date{
              font-size: 12px;
              opacity: 0.8;
              color: black;
            }
            .margin-top{
              margin-top: 25px;
            }
            .margin-bottom{
              margin-bottom: 30px;
            }
          }
        }
    }
  }
  .twitter{
    margin-top: 100px;
    width: 90%;
    margin: 100px auto 0;
    margin-bottom: 10px;
    &__title{
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 20px;
      letter-spacing: 5px;
    }
    &__wrapper{
      overflow: scroll;
      max-height: 376px;
    }
  }
  .footer{
    text-align: center;
    font-size: 12px;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
}